body{
    font-family: sans-serif;
    background-image: radial-gradient(circle, #b94bf8, #3a1957);
    background-repeat: no-repeat;
    margin: 0;
    color: #eee;
    height: 100vh;
}

img{
    max-width: 80%;
    border-radius: 50%;
}

.card{
    background-color: #333;
    width: 45%;
    height: 400px;
    display: flex;
    margin: 2em auto;
}

.card_left{
    width: 10%;
    display: flex;
    align-items: flex-start;
    background-color: #222;
    justify-content: center;
    padding: .5rem 0;
}

.card_rigth{
    width: 90%;
    padding: 0 1rem;
}

.card_title{
    text-transform: uppercase;
    margin: 1rem 0;
}

.form{
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form_field{
    display:flex;
    flex-direction: column;
}

.form_names{
    display: flex;
    justify-content: space-between;
}

.form_label{
    margin-bottom: .5rem;
    text-transform: uppercase;
    font-size: .8rem;
}

.form_input, .form_textarea{
    background-color: none;
    border: none;
    border-bottom: 1px solid #eee;
}

.form_textarea{
    resize: none;
    border: 1px solid #eee;
    flex-basis: 100px;
}

.form_submit{
    width: 30%;
    background: rgb(72, 241, 247);
    border: none;
    padding: .8rem;
    text-transform: uppercase;
    color: inherit;
    border-radius: 15px;

}