/* .paragraph:first-child{
    background-color: red;
}

.paragraph:last-child {
    background-color: blue;
} */

/* .paragraph:nth-child(odd) {
    background-color: cadetblue;
}

.paragraph:nth-child(even) {
    background-color: blue;
} */


