.box1, .box2{
    width: 250px;
    height: 250px;
    margin: 1em auto;
    font-size: 2.5em;
    text-align: center;

}

.box1{
    background: lightgreen;
    position: relative;

    top: 50px;
    left: 50px;
    /* top y left tienen preferencia ante bottom y rigth */
    /* top rigth botton left z-index */
    /* top: 100px;
    left: 50px; */
    /* si declaramos z-index automaticamente si dibuja por encima por tener un valor mayor que el por defecto */
    /* z-index: 1; si declaramos z-index, automaticamente se dibuja por encima, por tener un valor mayor, que por defecto*/
    /* top t left tienen preferencia ante right y botton */

    /* top: 100px;
    left: 50px;
    z-index: 1; */
   
}

p {
    position: relative;
    z-index: 10;
}

.box2{
    background: lightcoral;
    position: relative;
}